<!doctype html>
<html>
<head>
<meta charset=utf-8>
</head>
<body>
<h1>戰車小百科</h1>
{% if categories %}
	<h2>戰車分類</h2>
	<table>
		<tr><th>戰車國籍</th><th></th><th></th></tr>
 		{% for category in categories %}
 		<tr>
 			<td>
 			<a href={% url 'tank:category' category.id %}>{{category.name}}</a>
 			</td>
 			<td>
 				<form action={% url 'tank:updateCategory' category.id %}>
 					<input type="submit" value=修改>
 				</form>
 			</td>
 			<td>
 				<form method=post action={% url 'tank:deleteCategory' category.id %}>
 					{% csrf_token %}
 				<input type=submit value=刪除>
 				</form>
			 </td>
 		</tr>
 		{% endfor %}
	</table>
{% else %}
 	<p><strong>目前尚未設定戰車分類</strong></p>
{% endif %}
<p><a href={% url 'tank:addCategory' %}>新增國籍</a></p>
<p><a href={% url 'weapon:weapon' %}>回Weapon網頁</a></p>
</body>
</html>